$columns: 8;

$breakpoints: (
  mobile: 37.5em,
  tab-port: 56.25em,
  tab-land: 75em,
  big-desktop: 112.5em,
);

$type-scale: (
  small: (
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
  large: (
    300: 1rem,
    400: 1.425rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
  ),
);

$colors: (
  primary: (
    100: hsl(203, 100%, 95%),
    200: hsl(203, 100%, 80%),
    300: hsl(203, 100%, 65%),
    400: hsl(203, 100%, 50%),
    500: hsl(203, 100%, 30%),
  ),
  secondary: (
    100: hsl(7, 100%, 95%),
    200: hsl(7, 100%, 80%),
    300: hsl(7, 100%, 65%),
    400: hsl(7, 100%, 50%),
    500: hsl(7, 100%, 30%),
  ),
  tertiary: (
    100: hsl(187, 100%, 53%),
    200: hsl(187, 100%, 80%),
    300: hsl(187, 100%, 65%),
    400: hsl(187, 100%, 50%),
    500: hsl(187, 100%, 30%),
  ),
);
